<!--Footer-Wrap-->
<div class="footer-wrap">
    <footer class="straight light">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <section class="widget">
                        <img alt="Versa Consórcios" class="footer-logo" src="~/image/LogoVersa.png">
                        <p class="fs-20 text-color-dark">
                            Conte com a qualidade e experi&ecirc;ncia de quem &eacute; especialista <br />
                            na Compra e Venda de cartas de cr&eacute;dito.
                        </p>

                        <ul class="straight-menu">
                            <li>
                                @Html.ActionLink("Home", "Index", "Home")

                            </li>
                            <li>
                                @Html.ActionLink("Venda a sua cota", "Index", "VendaSuaCota")
                            </li>
                            <li>
                                @Html.ActionLink("Cotas à venda", "Index", "CotasVenda")
                            </li>
                            <li>
                                @Html.ActionLink("Quem Somos", "Index", "QuemSomos")
                            </li>
                            <li>
                                @Html.ActionLink("Contato", "Index", "Contato")
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col"></div>
                <div class="col-sm-5">
                    <section class="widget">
                        <div class="clearfix pl-1 pt-1">
                            <ul class="v-list">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    @*<span>Rua Dr. Luiz Migliano, 1986 - </span>
                                        <span>São Paulo - SP - CEP: 05711-001</span>*@
                                    <span>
                                        <a href="http://maps.google.com/?q=1200 Rua Dr. Luiz Migliano, 1986 - São Paulo - SP - CEP: 05711-001" target="_blank">Rua Dr. Luiz Migliano, 1986 - São Paulo - SP - CEP: 05711-001</a>
                                    </span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span><a href="tel:+551135018247">(11) 3501-8247 </a></span>
                                </li>
                                <li>
                                    <i class="fa fa-whatsapp"></i>
                                    <span>  <a href="https://wa.me/5511989190560" target="_blank">(11) 9.8919-0560</a></span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i>
                                    <span><a href="mailto:contato@versaconsorcios.com.br" class="text-lowercase">contato@versaconsorcios.com.br</a> </span>
                                </li>
                            </ul>

                        </div>
                    </section>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 center">
                        <span class="fs-14">©</span>  Copyright 2019 by Midiaone. All Rights Reserved
                    </div>
                </div>

            </div>
        </div>
    </footer>

</div>
<!--End Footer-Wrap-->