<!--Footer-Wrap-->
<div class="footer-wrap">
    <footer class="straight light">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <section class="widget">
                        <img alt="Versa Consórcios" class="footer-logo" src="~/image/LogoVersa.png">
                        <p class="fs-20 text-color-dark">
                            Conte com a qualidade e experi&ecirc;ncia de quem &eacute; especialista <br />
                            na Compra e Venda de cartas de cr&eacute;dito.
                        </p>

                        <ul class="straight-menu">
                            <li>
                                @Html.ActionLink("Home", "Index", "Home")

                            </li>
                            <li>
                                @Html.ActionLink("Venda a sua cota", "Index", "VendaSuaCota")
                            </li>
                            <li>
                                @Html.ActionLink("Cotas à venda", "Index", "CotasVenda")
                            </li>
                            <li>
                                @Html.ActionLink("Quem Somos", "Index", "QuemSomos")
                            </li>
                            <li>
                                @Html.ActionLink("Contato", "Index", "Contato")
                            </li>
                        </ul>

                        <div class="straight-social">
                            <a href="#" class="social-icon si-borderless si-instagram mb-0" title="Instagram">
                                <i class="si-icon-instagram"></i>
                                <i class="si-icon-instagram"></i>
                            </a>
                        </div>
                        <br />
                        <br />
                        <br />
                        <p class="fs-19 text-color-dark">
                            Rua Dr. Luiz Migliano, 1986 <br />
                            São Paulo - SP <br />
                            CEP: 05711-001  <br />
                            Telefones:<br /> (11) 3881-4010 <br />

                            <i class="fa fa-whatsapp"></i>
                            <a href="https://wa.me/5511989190560" style="color:#333" target="_blank">(11) 9.8919-0560 - WhatsApp</a>
                        </p>
                    </section>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 center">
                        <span class="fs-14">©</span>  Copyright 2019 by Midiaone. All Rights Reserved
                    </div>
                </div>

            </div>
        </div>
    </footer>

</div>
<!--End Footer-Wrap-->