<!DOCTYPE html>

<html lang="pt-br">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133479840-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-133479840-1');
        gtag('config', 'AW-766020137');
    </script>


    <meta charset="utf-8">
    <title>Versa Cons&oacute;rcios Compra e Vende Consórcios (11) 3501-8247 (11) 9.8919-0560</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="Venda,Vendemos,Compramos Consórcio, contemplado, atrasado, em andamento, pagamos a vista" />
    <meta name="keywords" content="venda o seu consórcio, pagamos a vista consórcio, consórcio vendemos, Compramos o seu consórcio, consórcio compramos, transforme consórcio em dinheiro, cota contemplada, Compra de consórcio, Comprar consórcio, Compra de carta de crédito, Comprar carta de crédito, Compra de cota cancelada, Venda de consórcio, Vender consórcio, Vender consórcio rápido, Venda de carta de crédito, Vender carta de crédito,Consórcio atrasado, Consórcio Contemplado, Consórcio não contemplado, Consórcio Cancelado, Cota Cancelada, vender consorcio cancelado, Consórcio excluído, Cota excluída, Consórcio automóvel, Cota automóvel, Consórcio carro, Consórcio imóvel, Cota imóvel, Consórcio caminhão, Consórcio barato, Consórcio bradesco, Cota bradesco, Consórcio itau, Consórcio porto seguro, Consórcio santander, consórcio apartamento, consórcio casa" />
    <meta name="abstract" content="Venda consórcio contemplado, Venda seu consórcio pago à vista, vendemos consórcio não contemplado cota contemplada, compra e venda de consórcios,Compramos consórcio contemplado, compro seu consórcio pago à vista, compramos consórcio não contemplado cota contemplada, carro, moto, caminhão, imóveis contemplados ou cancelados, atrasados" />
    <meta name="robots" content="index, VendaSuaCota, CotasVenda, QuemSomos, Contato,venda,vender" />
    <meta name="contact" content="contato@versaconsorcios.com.br" />
    <meta name="googlebot" content="noodp" />
    <meta name="rating" content="general" />
    <meta name="author" content="Midiaone" />
    <meta property="og:description" content="Compra de Consorcio - Pagamento a Vista" />
    <meta property="og:title" content="Versa Consorcios" />
    <meta property="og:type" content="Versa Consorcio" />
    <meta property="og:url" content="http://www.versaconsorcios.com.br/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" type="image/png" href="~/image/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

    <!-- Libs CSS -->
    <link href="~/Template/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Template/css/style.css" rel="stylesheet" />
    <link href="~/Template/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Template/css/streamline-icon.css" rel="stylesheet" />
    <link href="~/Template/css/header.css" rel="stylesheet" />
    <link href="~/Template/css/portfolio.css" rel="stylesheet" />
    <link href="~/Template/css/blog.css" rel="stylesheet" />
    <link href="~/Template/css/v-animation.css" rel="stylesheet" />
    <link href="~/Template/css/v-bg-stylish.css" rel="stylesheet" />
    <link href="~/Template/css/font-icons.css" rel="stylesheet" />
    <link href="~/Template/css/shortcodes.css" rel="stylesheet" />
    <link href="~/Template/css/utilities.css" rel="stylesheet" />
    <link href="~/Template/css/theme-responsive.css" rel="stylesheet" />
    <link href="~/Template/plugins/aos/aos.css" rel="stylesheet" />
    <link href="~/Template/plugins/owl-carousel/owl.theme.css" rel="stylesheet" />
    <link href="~/Template/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />

    <!-- Current Page CSS -->
    @*<link href="~/Template/plugins/rs-plugin/css/settings.css" rel="stylesheet" />*@

    <!-- Skin -->
    <link rel="stylesheet" href="~/Template/css/skin/default.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Template/css/custom.css">
</head>

<body>

    @RenderPage("_Header.cshtml")

    <div role="main" class="main">
        <a href="https://api.whatsapp.com/send?l=pt&amp;phone=5511989190560" target="_blank" data-toggle="tooltip" title="Entre em contato pelo WhatsApp">
            <img src="https://i.imgur.com/XMsxHpu.png" style="height:60px; position:fixed; bottom: 25px; left: 25px; z-index:100;" data-selector="img">
        </a>
        @RenderBody()

    </div>

    @RenderPage("_Footer.cshtml")


    <!-- Libs -->
    <script src="~/Template/js/jquery.min.js"></script>
    <script src="~/Template/js/popper.js"></script>
    <script src="~/Template/js/bootstrap.min.js"></script>
    <script src="~/Template/js/jquery.flexslider-min.js"></script>
    <script src="~/Template/js/jquery.easing.js"></script>
    <script src="~/Template/js/jquery.fitvids.js"></script>
    <script src="~/Template/js/jquery.carouFredSel.min.js"></script>
    <script src="~/Template/js/jquery.validate.js"></script>
    <script src="~/Template/js/theme-plugins.js"></script>
    <script src="~/Template/js/jquery.isotope.min.js"></script>
    <script src="~/Template/js/imagesloaded.js"></script>
    <script src="~/Template/js/view.min.js?auto"></script>
    <script src="~/Template/plugins/aos/aos.js"></script>

    @*<script src="~/Template/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="~/Template/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>*@

    <script src="~/Template/js/theme-core.js"></script>
    <script src="~/Template/js/theme.js"></script>
    <script src="~/Template/js/theme.init.js"></script>

    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)

    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
        (function () {
            var widget_id = 'QvM32YWgfl'; var d = document; var w = window; function l() {
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
                s.src = '//code.jivosite.com/script/widget/' + widget_id
                    ; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);
            }
            if (d.readyState == 'complete') { l(); } else {
                if (w.attachEvent) { w.attachEvent('onload', l); }
                else { w.addEventListener('load', l, false); }
            }
        })();
    </script>
    <!-- {/literal} END JIVOSITE CODE -->
</body>
</html>