
@section styles{
    <!-- LOADING FONTS AND ICONS -->
    <link href="http://fonts.googleapis.com/css?family=Lato:400%2C300%2C700%2C900%7CRoboto:500" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link href="~/Template/Revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Template/Revolution/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Template/Revolution/css/settings.css" rel="stylesheet" />
    <link href="~/Template/Revolution/css/Estilo.css" rel="stylesheet" />

    <!-- REVOLUTION LAYERS STYLES -->
    <style>

        .justifica {
            text-align: justify !important;
        }
    </style>

    <style>
        .tp-caption.FullSiteBlock-Title, .FullSiteBlock-Title {
            color: rgba(51,51,51,1.00);
            font-size: 55px;
            line-height: 65px;
            font-weight: 300;
            font-style: normal;
            font-family: Lato;
            text-decoration: none;
            background-color: transparent;
            border-color: transparent;
            border-style: none;
            border-width: 0px;
            border-radius: 0 0 0 0px
        }

        .tp-caption.FullSiteBlock-SubTitle, .FullSiteBlock-SubTitle {
            color: rgba(51,51,51,1.00);
            font-size: 25px;
            line-height: 34px;
            font-weight: 300;
            font-style: normal;
            font-family: Lato;
            text-decoration: none;
            background-color: transparent;
            border-color: transparent;
            border-style: none;
            border-width: 0px;
            border-radius: 0 0 0 0px
        }

        .tp-caption.FullSiteBlock-DownButton, .FullSiteBlock-DownButton {
            color: rgba(51,51,51,1.00);
            font-size: 25px;
            line-height: 32px;
            font-weight: 500;
            font-style: normal;
            font-family: Roboto;
            text-decoration: none;
            background-color: transparent;
            border-color: rgba(51,51,51,1.00);
            border-style: solid;
            border-width: 1px;
            border-radius: 30px 30px 30px 30px
        }

            .tp-caption.FullSiteBlock-DownButton:hover, .FullSiteBlock-DownButton:hover {
                color: rgba(0,150,255,1.00);
                text-decoration: none;
                background-color: transparent;
                border-color: rgba(0,150,255,1.00);
                border-style: solid;
                border-width: 1px;
                border-radius: 30px 30px 30px 30px;
                cursor: pointer
            }
    </style>
    <style type="text/css">
        .hesperiden.tp-bullets {
        }

            .hesperiden.tp-bullets:before {
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                background: transparent;
                padding: 10px;
                margin-left: -10px;
                margin-top: -10px;
                box-sizing: content-box;
                border-radius: 8px
            }

        .hesperiden .tp-bullet {
            width: 12px;
            height: 12px;
            position: absolute;
            background: rgb(153,153,153);
            background: -moz-linear-gradient(top,rgb(153,153,153) 0%,rgb(225,225,225) 100%);
            background: -webkit-linear-gradient(top,rgb(153,153,153) 0%,rgb(225,225,225) 100%);
            background: -o-linear-gradient(top,rgb(153,153,153) 0%,rgb(225,225,225) 100%);
            background: -ms-linear-gradient(top,rgb(153,153,153) 0%,rgb(225,225,225) 100%);
            background: linear-gradient(to bottom,rgb(153,153,153) 0%,rgb(225,225,225) 100%);
            filter: progid:dximagetransform.microsoft.gradient( startcolorstr="rgb(153,153,153)",endcolorstr="rgb(225,225,225)",gradienttype=0 );
            border: 3px solid rgb(229,229,229);
            border-radius: 50%;
            cursor: pointer;
            box-sizing: content-box
        }

            .hesperiden .tp-bullet:hover, .hesperiden .tp-bullet.selected {
                background: rgb(102,102,102)
            }

        .hesperiden .tp-bullet-image {
        }

        .hesperiden .tp-bullet-title {
        }
    </style>



}


<div class="slider-container rev_slider_wrapper slider-container-height-600 bg-light-5">

    @*<div id="revolutionSlider" ~/template/revolution/ class="slider rev_slider" data-version="5.4.7" data-plugin-revolution-slider data-plugin-options="{'delay': 28000, 'gridwidth': [1140,960,720,540], 'gridheight': [550,550,550,550], 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,576], 'navigation' : {'arrows': { 'enable': true, 'style': 'slider-arrows-style-1' }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 35, 'h_offset': 0}}}">
        @*<div id="services" class="rev_slider slider-container-height-600" style="display:none;" data-version="5.4.8.1">*@
    <div id="services" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.8.1">
        <ul>

            <!-- SLIDE  -->
            <li data-index="rs-247" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="500" data-thumb="~/template/revolution/assets/100x50_6d272-mao.jpg" data-delay="9000" data-rotate="0" data-saveperformance="off" data-title="Venda" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="~/template/revolution/assets/6d272-mao.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption FullSiteBlock-Title   tp-resizeme"
                     id="slide-247-layer-3"
                     data-x="['center','center','center','center']" data-hoffset="['129','85','-9','-1']"
                     data-y="['top','top','top','top']" data-voffset="['-5','0','-4','21']"
                     data-fontsize="['35','32','28','18']"
                     data-lineheight="['55','35','30','25']"
                     data-fontweight="['400','400','400','700']"
                     data-width="['963','825','767','473']"
                     data-height="['none','142','122','76']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":250,"speed":2500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 5; min-width: 963px; max-width: 963px; white-space: normal; font-size: 35px; line-height: 55px; font-weight: 400; letter-spacing: ;font-family:Poppins;">
                    Compramos a sua cota hoje mesmo!
                    <br />
                    Consórcio em andamento é a nossa especialidade.
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-247-layer-18"
                     data-x="['center','center','center','center']" data-hoffset="['-182','-202','-227','11']"
                     data-y="['top','top','top','top']" data-voffset="['100','74','69','90']"
                     data-fontsize="['50','50','50','30']"
                     data-lineheight="['60','60','60','30']"
                     data-fontweight="['400','400','400','900']"
                     data-width="['250','250','200','40']"
                     data-height="['60','60','60','40']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":750,"speed":1500,"frame":"0","from":"y:20px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 6; min-width: 250px; max-width: 250px; max-width: 60px; max-width: 60px; white-space: normal; font-size: 50px; line-height: 60px; font-weight: 400; color: rgba(119,119,119,1); letter-spacing: ;"><i class="pe-7s-cash"></i></div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption FullSiteBlock-SubTitle   tp-resizeme"
                     id="slide-247-layer-19"
                     data-x="['center','center','center','center']" data-hoffset="['-164','-203','-225','15']"
                     data-y="['top','top','top','top']" data-voffset="['164','142','123','141']"
                     data-fontsize="['25','25','20','17']"
                     data-lineheight="['25','34','30','24']"
                     data-fontweight="['500','500','500','700']"
                     data-color="['rgb(0,0,0)','rgba(51,51,51,1)','rgb(0,0,0)','rgb(0,0,0)']"
                     data-width="['394','250','200','200']"
                     data-height="['27','none','none','none']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":850,"speed":1500,"frame":"0","from":"y:20px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 7; min-width: 394px; max-width: 394px; max-width: 27px; max-width: 27px; white-space: normal; line-height: 25px; font-weight: 500; color: #000000; letter-spacing: ;font-family:Poppins;">Pagamento à Vista</div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption FullSiteBlock-SubTitle  justifica tp-resizeme"
                     id="slide-247-layer-15"
                     data-x="['center','center','center','center']" data-hoffset="['-149','-193','-209','18']"
                     data-y="['middle','top','top','top']" data-voffset="['-1','184','158','177']"
                     data-fontsize="['16','16','17','15']"
                     data-lineheight="['28','28','26','22']"
                     data-fontweight="['500','400','400','500']"
                     data-color="['rgb(68,68,68)','rgb(68,68,68)','rgb(68,68,68)','rgb(0,0,0)']"
                     data-width="['335','373','328','380']"
                     data-height="none"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":950,"speed":1500,"frame":"0","from":"y:30px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 8; min-width: 335px; max-width: 335px; white-space: normal; font-size: 16px; line-height: 28px; font-weight: 500; color: #444444; letter-spacing: ;font-family:Poppins;text-align:justify !important;">Compramos a sua cota de consórcio seja ela contemplada ou não, cancelada, excluída ou mesmo em atraso.<br /><br />Pagamos à vista (TED na sua conta) com total transparência, rapidez e segurança.</div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-247-layer-20"
                     data-x="['center','center','center','center']" data-hoffset="['354','248','184','8']"
                     data-y="['top','top','top','top']" data-voffset="['100','73','69','323']"
                     data-fontsize="['50','50','50','30']"
                     data-lineheight="['60','60','60','30']"
                     data-width="['284','250','200','40']"
                     data-height="['61','60','60','40']"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1050,"speed":1500,"frame":"0","from":"y:20px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 9; min-width: 284px; max-width: 284px; max-width: 61px; max-width: 61px; white-space: normal; font-size: 50px; line-height: 60px; font-weight: 400; color: rgba(119,119,119,1); letter-spacing: ;"><i class="pe-7s-pen"></i></div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption FullSiteBlock-SubTitle   tp-resizeme"
                     id="slide-247-layer-21"
                     data-x="['center','center','center','center']" data-hoffset="['356','262','179','6']"
                     data-y="['top','top','top','top']" data-voffset="['164','138','124','372']"
                     data-fontsize="['25','25','20','17']"
                     data-lineheight="['25','34','30','24']"
                     data-fontweight="['500','500','500','700']"
                     data-width="['328','322','268','256']"
                     data-height="['none','69','62','49']"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1150,"speed":1500,"frame":"0","from":"y:20px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 10; min-width: 328px; max-width: 328px; white-space: normal; line-height: 25px; font-weight: 500; color: #000000; letter-spacing: ;font-family:Poppins;">20 Anos de Experiência</div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption FullSiteBlock-SubTitle justifica  tp-resizeme"
                     id="slide-247-layer-17"
                     data-x="['center','center','center','center']" data-hoffset="['364','260','168','9']"
                     data-y="['top','top','top','top']" data-voffset="['196','179','160','410']"
                     data-fontsize="['16','16','17','15']"
                     data-lineheight="['28','28','26','22']"
                     data-fontweight="['500','400','400','500']"
                     data-color="['rgb(68,68,68)','rgb(68,68,68)','rgb(68,68,68)','rgb(0,0,0)']"
                     data-width="['438','397','368','338']"
                     data-height="['226','227','238','none']"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1250,"speed":1500,"frame":"0","from":"y:30px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 11; min-width: 438px; max-width: 438px; max-width: 226px; max-width: 226px; white-space: normal; font-size: 16px; line-height: 28px; font-weight: 500; color: #444444; letter-spacing: ;font-family:Poppins;">
                    A Versa Consórcios é formada por experientes profissionais que atuam exclusivamente no mercado de consórcios em andamento.
                    <br /><br />
                    Compramos e vendemos cartas de crédito de forma transparente, honesta e justa.
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption rev-btn rev-withicon "
                     id="slide-247-layer-27"
                     data-x="['left','left','left','left']" data-hoffset="['775','656','368','29']"
                     data-y="['top','top','top','top']" data-voffset="['445','418','435','374']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="button"
                     data-responsive_offset="on"
                     data-responsive="off"
                     data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[12,12,12,12]"
                     data-paddingright="[35,35,35,35]"
                     data-paddingbottom="[12,12,12,12]"
                     data-paddingleft="[35,35,35,35]"
                     style="z-index: 12; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 500; color: rgba(255,255,255,1); letter-spacing: ;font-family:Poppins;background-color:rgba(65,138,121,0.75);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                    @Html.ActionLink("Clique e Venda a Sua Cota", "Index", "VendaSuaCota")
                </div>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-246" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="500" data-thumb="~/template/revolution/assets/100x50_044a5-getty_95011721_46286.jpg" data-delay="9000" data-rotate="0" data-saveperformance="off" data-title="Compre" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="~/template/revolution/assets/044a5-getty_95011721_46286.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 9 -->
                <div class="tp-caption FullSiteBlock-Title   tp-resizeme"
                     id="slide-246-layer-3"
                     data-x="['center','center','center','center']" data-hoffset="['118','42','2','1']"
                     data-y="['top','top','top','top']" data-voffset="['6','0','3','7']"
                     data-fontsize="['35','35','28','18']"
                     data-lineheight="['55','35','30','25']"
                     data-fontweight="['400','400','600','600']"
                     data-width="['903','920','751','481']"
                     data-height="['112','141','123','77']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":250,"speed":2500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 5; min-width: 903px; max-width: 903px; max-width: 112px; max-width: 112px; white-space: normal; font-size: 35px; line-height: 55px; font-weight: 400; letter-spacing: ;font-family:Poppins;">
                    Compre uma Cota de consórcio!
                    <br />Consórcio em andamento é a nossa especialidade.
                </div>

                <!-- LAYER NR. 10 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-246-layer-18"
                     data-x="['center','center','center','center']" data-hoffset="['-103','-217','-166','-1']"
                     data-y="['top','top','top','top']" data-voffset="['114','87','75','93']"
                     data-fontsize="['50','50','50','30']"
                     data-lineheight="['60','60','60','30']"
                     data-fontweight="['400','400','400','900']"
                     data-width="['250','250','200','40']"
                     data-height="['60','60','60','40']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":750,"speed":1500,"frame":"0","from":"y:20px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 6; min-width: 250px; max-width: 250px; max-width: 60px; max-width: 60px; white-space: normal; font-size: 50px; line-height: 60px; font-weight: 400; color: rgba(119,119,119,1); letter-spacing: ;"><i class="pe-7s-home"></i></div>

                <!-- LAYER NR. 11 -->
                <div class="tp-caption FullSiteBlock-SubTitle   tp-resizeme"
                     id="slide-246-layer-19"
                     data-x="['center','center','center','center']" data-hoffset="['-107','-220','-165','12']"
                     data-y="['top','top','top','top']" data-voffset="['179','155','142','137']"
                     data-fontsize="['25','25','20','17']"
                     data-lineheight="['25','34','30','24']"
                     data-fontweight="['500','600','700','700']"
                     data-color="['rgb(0,0,0)','rgba(51,51,51,1)','rgb(0,0,0)','rgb(0,0,0)']"
                     data-width="['450','392','338','274']"
                     data-height="['26','69','62','49']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":850,"speed":1500,"frame":"0","from":"y:20px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 7; min-width: 450px; max-width: 450px; max-width: 26px; max-width: 26px; white-space: normal; line-height: 25px; font-weight: 500; color: #000000; letter-spacing: ;font-family:Poppins;">Im&oacute;vel, Autom&oacute;vel ou Pesado</div>

                <!-- LAYER NR. 12 -->
                <div class="tp-caption FullSiteBlock-SubTitle  justifica tp-resizeme"
                     id="slide-246-layer-15"
                     data-x="['center','center','center','center']" data-hoffset="['-107','-214','-164','6']"
                     data-y="['middle','top','top','top']" data-voffset="['58','192','174','173']"
                     data-fontsize="['16','16','17','15']"
                     data-lineheight="['28','28','26','22']"
                     data-color="['rgb(68,68,68)','rgb(68,68,68)','rgb(68,68,68)','rgb(0,0,0)']"
                     data-width="['460','439','343','442']"
                     data-height="['254','none','263','155']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":950,"speed":1500,"frame":"0","from":"y:30px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 8; min-width: 460px; max-width: 460px; max-width: 254px; max-width: 254px; white-space: normal; font-size: 16px; line-height: 28px; font-weight: 500; color: #444444; letter-spacing: ;font-family:Poppins;">
                    Acesse o nosso estoque e encontre a cota de consórcio que melhor se adeque às suas necessidades.<br /><br /> Compre aqui o seu automóvel, caminhão ou imóvel. Oferecemos as melhores condições do mercado.
                    <br /></br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Confira !
                </div>

                <!-- LAYER NR. 13 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-246-layer-20"
                     data-x="['center','center','center','center']" data-hoffset="['422','314','209','5']"
                     data-y="['top','top','top','top']" data-voffset="['113','85','71','345']"
                     data-fontsize="['50','50','50','30']"
                     data-lineheight="['60','60','60','30']"
                     data-width="['250','250','200','40']"
                     data-height="['60','60','60','40']"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1050,"speed":1500,"frame":"0","from":"y:20px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 9; min-width: 250px; max-width: 250px; max-width: 60px; max-width: 60px; white-space: normal; font-size: 50px; line-height: 60px; font-weight: 400; color: rgba(119,119,119,1); letter-spacing: ;"><i class="pe-7s-user-female"></i></div>

                <!-- LAYER NR. 14 -->
                <div class="tp-caption FullSiteBlock-SubTitle   tp-resizeme"
                     id="slide-246-layer-21"
                     data-x="['center','center','center','center']" data-hoffset="['412','304','210','14']"
                     data-y="['top','top','top','top']" data-voffset="['175','152','139','408']"
                     data-fontsize="['25','25','20','17']"
                     data-lineheight="['25','34','30','24']"
                     data-fontweight="['500','600','700','700']"
                     data-width="['328','323','269','257']"
                     data-height="none"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1150,"speed":1500,"frame":"0","from":"y:20px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 10; min-width: 328px; max-width: 328px; white-space: normal; line-height: 25px; font-weight: 500; color: #000000; letter-spacing: ;font-family:Poppins;">Melhor Avaliação</div>

                <!-- LAYER NR. 15 -->
                <div class="tp-caption FullSiteBlock-SubTitle justifica  tp-resizeme"
                     id="slide-246-layer-17"
                     data-x="['center','center','center','center']" data-hoffset="['381','289','210','-2']"
                     data-y="['top','top','top','top']" data-voffset="['212','196','171','446']"
                     data-fontsize="['16','16','17','15']"
                     data-lineheight="['28','28','26','22']"
                     data-color="['rgb(68,68,68)','rgb(68,68,68)','rgb(68,68,68)','rgb(0,0,0)']"
                     data-width="['421','430','322','432']"
                     data-height="['none','283','235','133']"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1250,"speed":1500,"frame":"0","from":"y:30px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 11; min-width: 421px; max-width: 421px; white-space: normal; font-size: 16px; line-height: 28px; font-weight: 500; color: #444444; letter-spacing: ;font-family:Poppins;">
                    A nossa larga experiência possibilita a quem quer vender uma cota, a mais correta avaliação da SUA carta de crédito.
                    <br></br>
                    Fazemos este trabalho de uma maneira rápida, detalhada, descomplicada e com pagamento JUSTO e à vista.
                </div>

                <!-- LAYER NR. 16 -->
                <div class="tp-caption rev-btn rev-withicon "
                     id="slide-246-layer-27"
                     data-x="['left','left','left','left']" data-hoffset="['811','652','327','22']"
                     data-y="['top','top','top','top']" data-voffset="['471','466','411','346']"
                     data-width="['none','none','none','342']"
                     data-height="['none','none','none','42']"
                     data-whitespace="nowrap"
                     data-type="button"
                     data-responsive_offset="on"
                     data-responsive="off"
                     data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[12,12,12,12]"
                     data-paddingright="[35,35,35,35]"
                     data-paddingbottom="[12,12,12,12]"
                     data-paddingleft="[35,35,35,35]"
                     style="z-index: 12; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 500; color: rgba(255,255,255,1); letter-spacing: ;font-family:Poppins;background-color:rgba(65,138,121,0.75);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                    @Html.ActionLink("Clique aqui e Compre a Sua Cota", "Index", "CotasVenda")
                </div>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-248" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/template/revolution/assets/100x50_044a5-getty_95011721_46286.jpg" data-delay="9000" data-rotate="0" data-saveperformance="off" data-title="Fale Conosco" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="~/template/revolution/assets/044a5-getty_95011721_46286.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 17 -->
                <div class="tp-caption FullSiteBlock-Title   tp-resizeme"
                     id="slide-248-layer-3"
                     data-x="['center','center','center','center']" data-hoffset="['128','137','18','9']"
                     data-y="['top','top','top','top']" data-voffset="['3','0','4','14']"
                     data-fontsize="['35','35','30','20']"
                     data-lineheight="['55','35','30','25']"
                     data-fontweight="['400','400','400','600']"
                     data-width="['922','627','530','435']"
                     data-height="['none','none','91','none']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":250,"speed":2500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 5; min-width: 922px; max-width: 922px; white-space: normal; font-size: 35px; line-height: 55px; font-weight: 400; letter-spacing: ;font-family:Poppins;">
                    Fale Conosco
                    <br />Estamos sempre à sua disposição.
                </div>

                <!-- LAYER NR. 18 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-248-layer-18"
                     data-x="['center','center','center','center']" data-hoffset="['-145','-124','-197','-6']"
                     data-y="['top','top','top','top']" data-voffset="['116','86','78','93']"
                     data-fontsize="['50','50','50','30']"
                     data-lineheight="['60','60','60','30']"
                     data-fontweight="['400','400','400','900']"
                     data-width="['250','250','200','40']"
                     data-height="['60','60','60','40']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":750,"speed":1500,"frame":"0","from":"y:20px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 6; min-width: 250px; max-width: 250px; max-width: 60px; max-width: 60px; white-space: normal; font-size: 50px; line-height: 60px; font-weight: 400; color: rgba(119,119,119,1); letter-spacing: ;"><i class="pe-7s-id"></i></div>

                <!-- LAYER NR. 19 -->
                <div class="tp-caption FullSiteBlock-SubTitle   tp-resizeme"
                     id="slide-248-layer-19"
                     data-x="['center','center','center','center']" data-hoffset="['-139','-126','-184','-4']"
                     data-y="['top','top','top','top']" data-voffset="['170','159','145','150']"
                     data-fontsize="['25','25','20','17']"
                     data-lineheight="['25','34','30','24']"
                     data-fontweight="['500','500','700','700']"
                     data-color="['rgb(0,0,0)','rgba(51,51,51,1)','rgb(0,0,0)','rgb(0,0,0)']"
                     data-width="['356','358','288','226']"
                     data-height="['none','none','61','none']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":850,"speed":1500,"frame":"0","from":"y:20px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 7; min-width: 356px; max-width: 356px; white-space: normal; line-height: 25px; font-weight: 500; color: #000000; letter-spacing: ;font-family:Poppins;">Entre em contato</div>

                <!-- LAYER NR. 20 -->
                <div class="tp-caption FullSiteBlock-SubTitle   tp-resizeme"
                     id="slide-248-layer-15"
                     data-x="['center','center','center','center']" data-hoffset="['-127','-90','-171','1']"
                     data-y="['middle','top','top','top']" data-voffset="['23','204','184','188']"
                     data-fontsize="['16','16','17','15']"
                     data-lineheight="['28','28','26','22']"
                     data-fontweight="['500','400','400','400']"
                     data-color="['rgb(68,68,68)','rgb(68,68,68)','rgb(68,68,68)','rgb(0,0,0)']"
                     data-width="['435','430','406','436']"
                     data-height="['200','284','263','178']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":950,"speed":1500,"frame":"0","from":"y:30px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 8; min-width: 435px; max-width: 435px; max-width: 200px; max-width: 200px; white-space: normal; font-size: 16px; line-height: 28px; font-weight: 500; color: #444444; letter-spacing: ;font-family:Poppins;">
                    Nossos canais de atendimento:
                    <br />Rua Dr. Luiz Migliano, 1986
                    <br />Edif. Bonnaire - São Paulo - SP
                    <br />CEP: 05711-001
                    <br />
                    <br />Telefones: (11) 3501-8247
                    <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(11) 9.8919-0560 (Whatsapp)
                </div>

                <!-- LAYER NR. 21 -->
                <div class="tp-caption   tp-resizeme"
                     id="slide-248-layer-20"
                     data-x="['center','center','center','center']" data-hoffset="['419','296','228','-10']"
                     data-y="['top','top','top','top']" data-voffset="['116','85','70','338']"
                     data-fontsize="['50','50','50','30']"
                     data-lineheight="['60','60','60','30']"
                     data-width="['250','250','200','40']"
                     data-height="['60','60','60','40']"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1050,"speed":1500,"frame":"0","from":"y:20px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 9; min-width: 250px; max-width: 250px; max-width: 60px; max-width: 60px; white-space: normal; font-size: 50px; line-height: 60px; font-weight: 400; color: rgba(119,119,119,1); letter-spacing: ;"><i class="pe-7s-global"></i></div>

                <!-- LAYER NR. 22 -->
                <div class="tp-caption FullSiteBlock-SubTitle   tp-resizeme"
                     id="slide-248-layer-21"
                     data-x="['center','center','center','center']" data-hoffset="['427','319','213','4']"
                     data-y="['top','top','top','top']" data-voffset="['171','159','140','378']"
                     data-fontsize="['25','25','20','17']"
                     data-lineheight="['25','34','30','24']"
                     data-fontweight="['500','500','700','700']"
                     data-width="['381','383','317','291']"
                     data-height="['55','69','61','49']"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1150,"speed":1500,"frame":"0","from":"y:20px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 10; min-width: 381px; max-width: 381px; max-width: 55px; max-width: 55px; white-space: normal; line-height: 25px; font-weight: 500; color: #000000; letter-spacing: ;font-family:Poppins;">Preço justo e negócio seguro.</div>

                <!-- LAYER NR. 23 -->
                <div class="tp-caption FullSiteBlock-SubTitle   tp-resizeme"
                     id="slide-248-layer-17"
                     data-x="['center','center','center','center']" data-hoffset="['423','322','216','7']"
                     data-y="['top','top','top','top']" data-voffset="['204','204','182','413']"
                     data-fontsize="['16','16','17','15']"
                     data-lineheight="['28','28','26','22']"
                     data-fontweight="['500','400','400','400']"
                     data-color="['rgb(68,68,68)','rgb(68,68,68)','rgb(68,68,68)','rgb(0,0,0)']"
                     data-width="['384','356','334','438']"
                     data-height="['144','170','157','113']"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1250,"speed":1500,"frame":"0","from":"y:30px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:10px;opacity:0;","ease":"Power4.easeOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 11; min-width: 384px; max-width: 384px; max-width: 144px; max-width: 144px; white-space: normal; font-size: 16px; line-height: 28px; font-weight: 500; color: #444444; letter-spacing: ;font-family:Poppins;">Não tem mais interesse em continuar pagando as suas cotas de consórcio ?<br /><br />Entre em contato agora que temos a solução.</div>

                <!-- LAYER NR. 24 -->
                <div class="tp-caption rev-btn rev-withicon "
                     id="slide-248-layer-27"
                     data-x="['left','left','left','left']" data-hoffset="['771','656','385','24']"
                     data-y="['top','top','top','top']" data-voffset="['400','418','412','366']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="button"
                     data-responsive_offset="on"
                     data-responsive="off"
                     data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[12,12,12,12]"
                     data-paddingright="[35,35,35,35]"
                     data-paddingbottom="[12,12,12,12]"
                     data-paddingleft="[35,35,35,35]"
                     style="z-index: 12; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 500; color: rgba(255,255,255,1); letter-spacing: ;font-family:Roboto;background-color:rgba(65,138,121,0.75);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                    @Html.ActionLink("Clique aqui e Fale Conosco", "Index", "Contato")
                </div>
            </li>


        </ul>
        <div style="" class="tp-static-layers">

            <!-- LAYER NR. 25 -->
            <div class="tp-caption FullSiteBlock-DownButton rev-btn  tp-static-layer"
                 id="slider-89-layer-5"
                 data-x="['left','center','center','center']" data-hoffset="['10','-260','-250','-175']"
                 data-y="['middle','top','top','top']" data-voffset="['0','135','111','67']"
                 data-width="30"
                 data-height="30"
                 data-whitespace="nowrap"
                 data-visibility="['on','on','off','off']"
                 data-type="button"
                 data-actions='[{"event":"click","action":"jumptoslide","slide":"previous","delay":""}]'
                 data-responsive_offset="on"
                 data-responsive="off"
                 data-startslide="0"
                 data-endslide="2"
                 data-frames='[{"from":"y:30px;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,150,255,1);bc:rgba(0,150,255,1);bw:1px 1px 1px 1px;"}]'
                 data-textAlign="['center','center','center','center']"
                 data-paddingtop="[1,1,1,1]"
                 data-paddingright="[1,1,1,1]"
                 data-paddingbottom="[1,1,1,1]"
                 data-paddingleft="[1,1,1,1]"
                 style="z-index: 29; min-width: 30px; max-width: 30px; max-width: 30px; max-width: 30px; white-space: nowrap; color: rgba(119,119,119,1);border-color:rgba(119,119,119,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="pe-7s-angle-left"></i></div>

            <!-- LAYER NR. 26 -->
            <div class="tp-caption FullSiteBlock-DownButton rev-btn  tp-static-layer"
                 id="slider-89-layer-6"
                 data-x="['right','center','center','center']" data-hoffset="['10','260','250','175']"
                 data-y="['middle','top','top','top']" data-voffset="['0','135','112','67']"
                 data-width="30"
                 data-height="30"
                 data-whitespace="nowrap"
                 data-visibility="['on','on','off','off']"
                 data-type="button"
                 data-actions='[{"event":"click","action":"jumptoslide","slide":"previous","delay":""}]'
                 data-responsive_offset="on"
                 data-responsive="off"
                 data-startslide="0"
                 data-endslide="2"
                 data-frames='[{"from":"y:30px;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,150,255,1);bc:rgba(0,150,255,1);bw:1px 1px 1px 1px;"}]'
                 data-textAlign="['center','center','center','center']"
                 data-paddingtop="[1,1,1,1]"
                 data-paddingright="[1,1,1,1]"
                 data-paddingbottom="[1,1,1,1]"
                 data-paddingleft="[1,1,1,1]"
                 style="z-index: 30; min-width: 30px; max-width: 30px; max-width: 30px; max-width: 30px; white-space: nowrap; color: rgba(119,119,119,1);border-color:rgba(119,119,119,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="pe-7s-angle-right"></i></div>
        </div>
        <div class="tp-bannertimer tp-bottom" style="height: 5px; background: rgba(0,0,0,0.15);"></div>
    </div>
</div>

<div class="v-page-wrap no-bottom-spacing">

    <div class="container">
        <div class="row">
            <div class="v-spacer col-sm-12 v-height-mini"></div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <div class="feature-box feature-box-secundary-one" data-aos="fade-up" data-aos-delay="80" data-aos-offset="30">
                    <div class="feature-box-icon small p-25">
                        <i class="fa fa-money v-icon"></i>
                    </div>
                    <div class="feature-box-text clearfix pt-7">
                        <h3>VENDA A SUA COTA AGORA! DINHEIRO RÁPIDO.</h3>
                        <div class="feature-box-text-inner">
                            <p align="justify">
                                Compramos a sua cota de consórcio seja ela contemplada ou não, cancelada, excluída ou mesmo em atraso. Pagamos à vista <strong>(TED na sua conta)</strong> com total transparência, rapidez e segurança.
                            </p>
                            @Html.ActionLink("Clique e Venda a sua cota", "Index", "VendaSuaCota", null, new { @class = "btn btn-secondary" })
                            @*<a href="#" class="read-more"></a> #418A79*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature-box feature-box-secundary-one" data-aos="fade-up" data-aos-delay="300" data-aos-offset="40">
                    <div class="feature-box-icon small p-25">
                        <i class="fa fa-handshake-o v-icon"></i>
                    </div>
                    <div class="feature-box-text pt-7">
                        <h3>COTAS À VENDA</h3>
                        <div class="feature-box-text-inner">
                            <p align="justify">
                                Acesse o nosso estoque e encontre a cota de consórcio que melhor se adeque às suas necessidades.
                                Cotas de automóvel, caminhão ou imóvel. Oferecemos as melhores condições do mercado. Confira !
                            </p>
                            @Html.ActionLink("Clique e Compre uma cota", "Index", "CotasVenda", null, new { @class = "btn btn-secondary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="v-spacer col-sm-12 v-height-mini"></div>
        </div>
    </div>

    @*<div class="v-parallax v-bg-stylish-v2" style="background-image: url(/Template/img/mix/desktop-11.jpg);">
            <div class="container">
                <div class="row">

                    <div class="col-sm-8 offset-sm-4">
                        <p class="v-smash-text-large text-white">
                            <span>Quem<strong> Somos</strong></span>
                        </p>

                        <div class="v-spacer col-sm-12 v-height-mini"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-box left-icon-v2" data-aos="flip-right" data-aos-delay="100">
                            <i class="icon-check-list v-icon icn-holder medium"></i>
                            <div class="feature-box-text">
                                <h3 class="text-white">20 ANOS DE EXPERIÊNCIA</h3>
                                <div class="feature-box-text-inner">
                                    <p class="text-white o-7" align="justify">
                                        A Versa Consórcios é formada por experientes profissionais que atuam exclusivamente no mercado de consórcios em andamento.
                                        <br /><br />Compramos e vendemos cartas
                                        de crédito de forma transparente, honesta e justa.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature-box left-icon-v2" data-aos="flip-right" data-aos-delay="300">
                            <i class="icon-layers v-icon icn-holder medium"></i>
                            <div class="feature-box-text">
                                <h3 class="text-white">MELHOR AVALIAÇÂO</h3>
                                <div class="feature-box-text-inner">
                                    <p class="text-white o-7" align="justify">
                                        A nossa larga experiência possibilita a quem quer vender uma cota,
                                        a mais correta avaliação da SUA carta de crédito. <br /><br /> Fazemos este trabalho de uma maneira rápida,
                                        detalhada, descomplicada e com pagamento JUSTO e à vista.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="v-spacer col-sm-12 v-height-mini"></div>

                <div class="row">
                    <div class="col-sm-4">
                    </div>

                    <div class="col-sm-4">
                        <div class="feature-box left-icon-v2" data-aos="flip-right" data-aos-delay="500">
                            <i class="icon-arrange-4-3 v-icon icn-holder medium"></i>
                            <div class="feature-box-text">
                                <h3 class="text-white">MELHOR PREÇO DE VENDA</h3>
                                <div class="feature-box-text-inner">
                                    <p class="text-white o-7" align="justify">
                                        O nosso portfólio oferece cotas das mais renomadas administradoras do mercado e com as
                                        melhores condições de negócio.
                                        <br /><br /> Nossos clientes também contam com um suporte profissional e cortês.<br /><br /> Auxiliamos desde a escolha da cota
                                        até a aquisição do bem desejado.<br /><br /> Acompanhamos todo o processo de transferência da carta de crédito para o nosso cliente.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="feature-box left-icon-v2" data-aos="flip-right" data-aos-delay="700">
                            <i class="icon-brush-2 v-icon icn-holder medium"></i>
                            <div class="feature-box-text">
                                <h3 class="text-white">MELHORES PROFISSIONAIS</h3>
                                <div class="feature-box-text-inner">
                                    <p class="text-white o-7" align="justify">
                                        Somos especialistas no que fazemos e prezamos por nossa reputação,
                                        pelo sigilo dos dados dos nossos clientes e da negociação. <br /><br />
                                        A sua satisfação é o que mais nos importa. Você vai ficar satisfeito com o nosso atendimento.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="v-spacer col-sm-12 v-height-mini"></div>

                <div class="row">
                    <div class="col-sm-4">
                    </div>

                    <div class="col-sm-4">
                        <div class="feature-box left-icon-v2" data-aos="flip-right" data-aos-delay="900">
                            <i class="icon-rss-2 v-icon icn-holder medium"></i>
                            <div class="feature-box-text">
                                <h3 class="text-white">MELHORES NEGÓCIOS</h3>
                                <div class="feature-box-text-inner">
                                    <p class="text-white o-7" align="justify">
                                        Temos muito orgulho dos inúmeros negócios fechados durante nossa história e temos certeza que estamos prontos para atender às suas expectativas, além de merecer a sua confiança.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="feature-box left-icon-v2" data-aos="flip-right" data-aos-delay="1100">
                            <i class="icon-cloud-download v-icon icn-holder medium"></i>
                            <div class="feature-box-text">
                                <h3 class="text-white">ATENDEMOS TODO BRASIL</h3>
                                <div class="feature-box-text-inner">
                                    <p class="text-white o-7" align="justify">
                                        Estamos em São Paulo mas atendemos todas as regiões do Brasil.
                                        Entre em contato conosco ou faça-nos uma visita. Será um prazer !
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>

@section Scripts {
    <script src="~/Template/Revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Template/Revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Template/Revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Template/Revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Template/Revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Template/Revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Template/Revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Template/Revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Template/Revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Template/Revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Template/Revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c); var i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })
            } catch (d) { console.log("Failure at Presize of Slider:" + d) }
        };
    </script>

    <script type="text/javascript">
        var revapi89,
            tpj;
        (function () {
            if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad); else onLoad();

            function onLoad() {
                if (tpj === undefined) { tpj = jQuery; if ("off" == "on") tpj.noConflict(); }
                if (tpj("#services").revolution == undefined) {
                    revslider_showDoubleJqueryError("#services");
                } else {
                    revapi89 = tpj("#services").show().revolution({
                        sliderType: "standard",
                        //jsFileLocation: "//revolution.midiaone.com.br/revslider/public/assets/js/",
                        sliderLayout: "fullwidth",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "vertical",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "on",
                            touch: {
                                touchenabled: "on",
                                touchOnDesktop: "off",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            }
                            ,
                            bullets: {
                                enable: true,
                                hide_onmobile: false,
                                style: "hesperiden",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "center",
                                v_align: "bottom",
                                h_offset: 0,
                                v_offset: 20,
                                space: 5,
                                tmp: ''
                            }
                        },
                        responsiveLevels: [1240, 1024, 778, 480],
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: [1240, 1024, 778, 480],
                        gridheight: [568, 568, 700, 700],
                        lazyType: "none",
                        shadow: 0,
                        spinner: "spinner0",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                }; /* END OF revapi call */
            }; /* END OF ON LOAD FUNCTION */
        }()); /* END OF WRAPPING FUNCTION */
    </script>
}
